html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family: Rockwell, Consolas, Georgia, Times, 'Times New Roman', serif;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #fff;
}

a:hover, button.textlike:hover {
  background-color: transparent;
  color: #ddd;
}

sub {
  font-size: .875rem;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes glowing {
  0% {
    background-color: #d23cff;
    box-shadow: 0 0 2px #d036ff;
  }
  50% {
    background-color: #9215b8;
    box-shadow: 0 0 15px #ac1cd8;
  }
  100% {
    background-color: #d23cff;
    box-shadow: 0 0 2px #d036ff;
  }
}

button {
  border: 1px #fff solid;
  color: #fff;
  background: transparent;
  padding: 10px 12px;
  cursor: pointer;
}
button.textlike {
  border: none;
  padding: 0;
  margin: none;
  display: inline-block;
  text-decoration: underline;
}

button:hover {
  background-color: #333;
}

button.important {
  font-weight: bold;
  animation: glowing 2s ease-in-out infinite;
}

button.inline {
  margin: 0px 4px;
}

.nauth {
  display: unset;
}

.yauth {
  display: none;
}

.authd .yauth {
  display: unset;
}

.authd .nauth {
  display: none;
}

.info > * {
  margin-top: 15px;
}

.smtext {
  font-size: .75rem;
}

#wrapper, #top {
  display: flex;
  flex-direction: row;
}

#display {
  width: 100%;
  min-width: 300px;
  height: 300px;
  border: 1px solid;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #000 solid;
}

#details {
  margin-top: 15px;
}

#top, #bottom {
  width: 100%;
}

#bottom {
  border-top: 1px solid #333;
}

#cvWrap {
  overflow: auto;
  // overflow-y: hidden;
  border-right: 1px solid #333;
  max-height: 100vh;
  padding: 10px;
}

#canvas {
  background-color: #000;
}

#panel {
  min-width: 350px;
  overflow: auto;
  max-height: 100vh;
  padding: 20px 10px;
  margin: 0 auto;
}

#tid {
  font-weight: 600;
  font-style: italic;
  display: inline-block;
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 1000px) 
  and (orientation: landscape) { 
    #panel {
      height: 90vh;
    }    
}